body{
    font-family: 'Poppins', sans-serif;
    background-color: azure;
}

h1{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 72px;
    width: 370px;
    height: 355px;
    flex-shrink: 0;
}

p{
    font-weight: 400;
    font-size: 24px;
    margin-top: 100px;
}

a {
    color: aliceblue;
    font-weight: 500;
    font-size: 20px;
    background-color: rgb(0, 0, 0);
    padding: 12px 22px;
    border-radius: 10px;
    display: inline-block;
  }

.hero{
    padding: 30px 500px 30px 50px;
    background-image: url(../img/image.jpg);
    background-repeat: no-repeat;
    background-position: bottom right;
}